<script type="text/template" id="scaffold">
    <div class="g_pageContainer footerWrapper">
        <div class="section credit">
            <div class="header">Credit to Others:</div>
            <ul>
                <li>
                    <a target="_blank" href="#">Credit 1</a>
                </li>
                <li>
                    <a target="_blank" href="#">Credit 2</a>
                </li>
            </ul>
        </div>
        <div class="section feedback">
            <div class="header">Feedback/Bug Reporting:</div>
            <ul>
                <li>
                    <a target="_blank" href="#">Link 1</a>
                </li>
                <li>
                    <a target="_blank" href="#">Link 2</a>
                </li>
            </ul>
        </div>
        <div class="section legal">
            <div class="header">Legal Stuff:</div>
            <ul>
                <li>
                    <a target="_blank" href="#">Privacy Policy</a>
                </li>
                <li>
                    <a target="_blank" href="#">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
</script>
